<?xml version="1.0"?>
<config>
  <modules>
    <CMage_DiscountPerCustomer>
      <version>0.1.0</version>
    </CMage_DiscountPerCustomer>
  </modules>
  <global>
    <helpers>
      <discountpercustomer>
        <class>CMage_DiscountPerCustomer_Helper</class>
      </discountpercustomer>
    </helpers>
	<models>
	  <discountpercustomer>
		<class>CMage_DiscountPerCustomer_Model</class>
		<resourceModel>discountpercustomer_mysql4</resourceModel>
	  </discountpercustomer>
	</models>
	<resources>
	  <customerattribute1499423638_setup>
		<setup>
		  <module>CMage_DiscountPerCustomer</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1499423638_setup>
	  <customerattribute1499423638_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1499423638_write>
	  <customerattribute1499423638_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1499423638_read>
	</resources>
  </global>   
    <frontend>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <discountpercustomer>
                        <class>discountpercustomer/observer</class>
                        <method>setDiscount</method>
                    </discountpercustomer>
                </observers>
            </sales_quote_collect_totals_after>  
        </events> 
    </frontend> 
</config> 